@import url("./reset.css");

body {
  width: 490px;
  margin: 0 auto;
}

#top-header {
  border-top: 2px solid gray;
  display: flex;
  justify-content: space-between;
}
#top-header span:nth-child(2) {
  font-weight: 550;
  font-size: 18px;
}
#bottom-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  margin-top: 30px;
  color: gray;
}
#bottom-header span:nth-child(1) {
  color: skyblue;
}
#bottom-header span:nth-child(2) {
  color: #000;
  border-bottom: 3px solid #000;
  padding-bottom: 30px;
}
#main-banner {
  background: url("./img/banner.png") center/cover no-repeat;
  width: 490px;
  height: 500px;
  position: relative;
}
#text {
  color: aliceblue;
  position: absolute;
  bottom: 30px;
  left: 120px;
}
#text h1 {
  text-align: center;
  margin-bottom: 20px;
}
#text h5 {
  text-align: center;
}
#controller {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  background: gray;
  opacity: 0.8;
  padding: 5px;
  font-size: 12px;
}
#banner-bottom {
  background-color: #ffc0cb;
  padding: 8px;
  font-size: 12px;
  font-weight: 600;
}
#main-icon1 {
  display: flex;
  justify-content: space-between;
  margin: 10px
}
#main-icon1 i {
  background: gray;
  padding: 20px;
  border-radius: 8px;
}
#main-icon1 .sub {
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
  color: grey;
}
#bottom-section {
  display: flex;
  justify-content: space-between;
  color: gray;
  margin-top: 30px;
}