/* table,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}
tr > td:nth-child(even) {
  width: 100px;
}

 tfoot > tr {font-size: 12px; 
background: firebrick; color: aliceblue;}
tfoot > tr {font-size: 10px;} */

/* table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}

th,
td {
  width: 250px;
  height: 40px;
}

td {
  text-align: center;
} */


/* table,td,th{
  border: 1px solid #a3a3a3;
  font-size: 14px;
}

th { 
  background:  #a3a3a3;
  font-size: 14px;
  width: 50px;
  height: 100;
}
 */
