/* .parent {
  width: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header . ."
    "a b c" " d e f " "g h i " " j k l";
}
.parent div {
  display: flex;
}
.header {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}
.parent div img:last-child {
  color: blue;
}
.header {
  grid-area: header;
}

.a {
  grid-area: a;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
.d {
  grid-area: d;
}
.e {
  grid-area: e;
}
.f {
  grid-area: f;
}
.g {
  grid-area: g;
}
.h {
  grid-area: h;
}
.i {
  grid-area: i;
}
.j {
  grid-area: j;
}
.k {
  grid-area: k;
}
.l {
  grid-area: l;
}

.footer {
  display: flex;
  justify-content: end;
  color: crimson;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--background-color);
}

/* CSS를 사용할 때, 변수!! 설정가능 ! */
/* 변수 = 변할 수 있는 수 vs 상수 = 고정되어있는 수 */
/* 그룹 및 팀작업 => A = index / B => detail */
/* wire frame => 메뉴얼 (*스타일가이드) */
/* main color => font-size => */
/* 변수 = variable */
/* var */

:root {
  --primary-color: #8b008b;
  --secondary-color: #cc5285;
  --background-color: #222222;
  --font-size: 1.6em;
}

body {
  color: var(--primary-color);
  line-height: var(--font-size);
}
.container {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
}
.best-seller {
  border: 1px solid #000;
  width: 1230px;
  padding: 20px 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
.best-header {
  font-size: 22px;
  padding-left: 10px;
}
.view-more {
  float: right;
  color: crimson;
  cursor: pointer;
}
.viw-more:hover {

}
.items-inner {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;

}

.itme {
  display: grid;
  grid-template-columns: repeat(min-contnet f41);
  justify-content: center;

}

/*Tablet*/
@media screen and (max-width : 1024px) {
  .container {
    align-items: start;
  }
}