@import url("./reset.css");
/* background */
#wrapper {
  position: relative;
  padding: 20px;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    url("./img/ROBLOX\ IMG.jpg");
}
/* login */
#login {
  position: absolute;
  right: 20px;
}
#login input {
  padding: 8px 45px;
  border-radius: 10px;
  font-size: 16px;
}
/* Logo */
#logo {
  width: 300px;
  height: 54px;
  background: url("./img/d82801b936c26e174c4e782510a72d78-roblox_logo_dark_08292022.svg")
    center/cover no-repeat;
  margin: 90px auto 34px;
}
/* logon */
#logon {
  width: 463px;
  height: 624px;
  margin: 0 auto 50px;
  padding: 20px;
  background: radial-gradient(rgba(8, 16, 24, 0.9), rgba(0, 0, 0, 0.99)),
    url(./img/bg-1.jpg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
}

.inner_contents {
  color: #fff;
  font-size: 14px;
}
.title {
  width: 423px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
#calendar {
  margin: 10px 0 30px;
  display: flex;
  justify-content: space-around;
}
#calendar select {
  width: 141px;
  height: 40px;
  background: #000;
  color: #bdbebe;
  font-size: 16px;
  padding-left: 12px;
}
#calendar select:first-child {
  border-radius: 8px 0 0 8px;
}
#calendar select:last-child {
  border-radius: 0 8px 8px 0;
}
.username #user {
  width: 100%;
  margin: 10px 0 30px;
  height: 40px;
  padding-left: 12px;
  background: #000;
  border: 1px solid #707070;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
}
.userpassword #password {
  width: 100%;
  margin: 10px 0 30px;
  height: 40px;
  padding-left: 12px;
  background: #000;
  border: 1px solid #707070;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
}
#gender_btn {
  margin: 10px 0 30px;
  display: flex;
}
#gender_btn input {
  width: 100%;
  margin: 10px 0 30px;
  height: 40px;
  background: #000;
  border: 1px solid #707070;
  font-size: 16px;
  color: #dbdede;
}
#gender_btn input:first-child {
  border-radius: 8px 0 0 8px;
}
#gender_btn input:last-child {
  border-radius: 0 8px 8px 0;
}
.check {
  margin: 25px 0;
}
#firstcheck {
  margin-bottom: 20px;
}
.check input[type="checkbox"] {
  scale: 2;
  margin: 0 10px;
}
.btn input[type="submit"] {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: #919293;
  font-size: 16px;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer h3 {
  color: #fff;
}
footer #items {
  display: flex;
  margin-top: 40px;
  gap: 10px;
}
footer .inner_item {
  color: #fff;
  background: #000;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1PX solid #fff ;
  border-radius: 8px;
}

footer .inner_item_title {
  font-size: 12px;
}
footer .inner_item_body {
  font-size: 22px;
  font-weight: 300;
}
footer span i {
  display: inline-block;
  font-size: 38px;
}