* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

:root {
  --bgcolor: #ecf0f1;
  --accolor: #1da1f2;
  --ahovercolor: #4190e1;
}

body {
  display: flex;
  justify-content: center;
  background: var(--bgcolor);
}
a {
  color: var(--accolor);
}
a:hover {
  color: var(--ahovercolor);
}
.container {
  width: 550px;
  padding: 3rem 2rem;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.post,
.profile {
  background: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
}
