* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/*common*/
html,
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper_header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 48px;
  justify-content: space-between;
}
.contents_title {
  display: flex;
  align-items: center;
  gap: 15px;
}
.title {
  color: #55b2d4;
  font: 600 16px/1 "arial";
}
.subtitle {
  font-size: 14px;
  color: gray;
  font-family: "arial";
  padding-bottom: 2px;
}
.divideLine {
  width: 100%;
  border-top: 1px solid gray;
  margin: 4px 0;
}
.contents_body {
  color: #999;
}
.wrapper_body {
  width: 100%;
  height: 300px;
}
.video {
  width: 100%;
  height: 240px;
  background: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzA2MTFfODgg%2FMDAxNjg2NDM0NTM4Mjcx.vdgseiy4UcABsLbs7z0A9lxwWnNVuQ2EtZWm7SspBR8g.MJFpXWJAAylNEKyptHyuolxVLbUXIqOZWrMHzMl7BjEg.JPEG.sww1112%2FIMG_7274.JPG&type=sc960_832")
    center/cover no-repeat;
  margin-top: 10px;
  border-radius: 10px;
}
