* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: aliceblue;
}
.result {
  text-align: center;
  box-shadow: 1px 2px 2px #222;
  border-radius: 10px;
  padding: 20px 30px;
  /* background: rgba(255, 255, 255, 0.6); */
  background: mediumturquoise;
  font-size: 1.125rem;
  font-weight: bold;
}
h1 {
  margin-top: 20px;
  color: aliceblue;
  text-shadow: 0 0 5px #222;
}
