* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
}
.section1 {
  border: 1px solid #f00;
  width: 700px;
  text-align: center;
  position: absolute;
  overflow: hidden;
}
.section1:nth-of-type(2) {
  border: 1px solid #000;
  position: absolute;
  left: 9999px;
}
.section1:nth-of-type(3) {
  border: 1px solid #000;
  position: absolute;
  left: 9999px;
}
.button span:nth-child(2):hover .section1:nth-of-type(2) {
  left: -9999px;
}
img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-bottom: 30px;
  margin-top: 50px;
}
.section1 p:first-of-type {
  width: 700px;
  font-size: 12px;
  margin-bottom: 30px;
}
.section1 p:nth-of-type(2) {
  font-size: 12px;
  margin-top: 10px;
}
.section1 p:nth-of-type(2) span {
  color: gold;
}
.button {
  display: flex;
  justify-content: center;
}
.button span {
  width: 8px;
  height: 8px;
  background: #080808;
  margin-right: 2px;
  margin-top: 30px;
}
