@import url(./reset.css);

/* 
header {
  background: yellowgreen;
  border: 1px solid #000;
  height: 150px;
  text-align: center;
  line-height: 150px;
}
section {
  display: flex;
}
article,
aside,
nav {
  height: calc(100vh - 300px);
}
article {
  background: #eee;
  flex: 3;
}

aside {
  background: #ccc;
  flex: 1;
}

nav {
  background: #ccc;
  
  flex-direction: column;
}

footer {
  background: gray;
  border: 1px solid #000;
  height: 150px;
  text-align: center;
  line-height: 150px;
} */

/* nav {
}
body {
}
header {
  background: green;
  height: 150px;
}
section {
  height: calc(100vh - 300px);
}
article {
  background: pink;
  flex: 3;
}
aside {
  background: yellow;
  flex: 1;
}
footer {
  background: gray;
  height: 150px;
} */

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#container {
  width: 1200px;
  border: 1px solid #000;
  margin: 0 auto;
}

header {
  background: tomato;
  padding: 2.6%;
  text-align: center;
}
section {
  display: flex;
  flex-direction: row;
}
section article {
  border: 1px solid #000;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#left {
  flex: 1;
  background: yellow;
}
#main {
  flex: 4;
  background: gray;
}
#right {
  flex: 1;
  background: green;
}
footer {
  background: aqua;
  padding: 2.6%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  section {
    flex-direction: column;
  }
  #left {
    order: 2;
  }
  #main {
    order: 1;
  }
  #right {
    order: 3;
  }
}
