@import url("./reset.css");
@font-face {
  font-family: "pro";
  src: url("./font/GTPressuraMono.ttf") format("truetype");
}

body {
  width: 100%;
  background: url("./img/visual\ basic.png") center/cover no-repeat;
  margin: 0 auto;
  font-family: pro;
}

#top-header {
  display: flex;
  justify-content: space-between;
  color: #e8e8e8;
  font-size: 20px;
  margin-top: 100px;
}
#left-top-header {
  display: flex;
  justify-content: space-around;
  width: 780px;
  margin-left: 67px;
  border-top: 2px solid #e8e8e8;
  border-bottom: 2px solid #e8e8e8;
}
#middle-top-header {
}
#right-top-header {
  display: flex;
  justify-content: space-around;
  width: 780px;
  margin-right: 67px;
  border-top: 2px solid #e8e8e8;
  border-bottom: 2px solid #e8e8e8;
}
