@import url("./reset.css");
/* background */
#wrapper {
  position: relative;
  padding: 20px;
  width: 100%;
  height: 100vh;
  background: radial-gradient(rgba(0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    url("./img/ROBLOX\ IMG.jpg");
}
/* login */
#login {
  position: absolute;
  right: 20px;
}
#login input {
  padding: 8px 45px;
  border-radius: 10px;
  font-size: 16px;
}
/* Logo */
#logo {
  width: 300px;
  height: 54px;
  background: url("./img/d82801b936c26e174c4e782510a72d78-roblox_logo_dark_08292022.svg")
    center/cover no-repeat;
  margin: 90px auto 34px;
}
/* logon */
#logon {
  width: 463px;
  height: 624px;
  margin: 0 auto 50px;
  padding: 20px;
  background: radial-gradient(rgba(8, 16, 24, 0.9), rgba(0, 0, 0, 0.99)),
    url(./img/bg-1.jpg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
}

.inner_contents {
  color: #fff;
  font-size: 14px;
}
.title {
  width: 423px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
#calendar {
  margin: 10px 0 30px;
  display: flex;
  justify-content: space-around;
}
#calendar select {
  width: 141px;
  height: 40px;
  background: #000;
  color: #bdbebe;
  font-size: 16px;
}