* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  position: fixed;
  width: 100%;
  background: #fff;
}
.header-inner {
  width: 95%;
  height: 90px;
  margin: auto;
  border-bottom: 1px solid #ddd;
  font-size: 100px;
}
/* hiring-main */
.hiring-main {
  height: 600px;
  position: relative;
}
.hiring-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.hiring-heading span {
  text-transform: uppercase;
  font: bold 20px/1 "arial";
  position: relative;
}
.hiring-heading span::before,
.hiring-heading span::after {
  content: "1";
  width: 50px;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
}
.hiring-heading span::before {
  right: 120%;
}
.hiring-heading span::after {
  left: 120%;
}
.hiring-heading h1 {
  font: 200 60px/1 "arial";
  margin-top: 40px;
}
.hiring-main.project-main1 {
  background: url("./pb1/images/project-main-01-01.jpg") center/cover no-repeat;
  height: 100vh;
}
