@import url("./reset.css");
@font-face {
  font-family: "pro";
  src: url("./font/GTPressuraMono.ttf") format("truetype");
}

#wrap {
  width: 100%;
  font-family: pro;
}
/* header */
#main-header {
  width: 1440px;
  background: url("./img/header\ bg.png");
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#gnb {
  display: flex;
  align-items: center;
}
#logo a {
  color: #e8e8e8;
}
#gnb a {
  color: #e8e8e8;
}
