@import url("./reset.css");
body {
  width: 1920px;
  background-image: url(./);
  position: ;
}

#main_header {
  border: 1px solid #000;
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  background: #fff;
}
#logo {
  border: 1px solid #000;
  width: fit-content;
  margin: 0 auto;
}
#content {
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 10px;
  width: 550px;
  background: teal;
  padding-left: 10px;
  padding-right: 10px;
}

#maintext > h1 {
  display: in;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}

#firstcontent > p {
  display: block;
  padding-left: 10px;
  padding-bottom: 10px;
  color: #fff;
}
#firstcontent > .YYMM {
  width: 150px;
  height: 40px;
  background: #000;
  padding: auto;
}
#secondcontent > p {
  display: block;
  padding: 10px 10px;
  color: #fff;
}
#secondcontent > #name {
  width: 500px;
  height: 40px;
  background: #000;
  padding: auto;
}
#thirdcontent > p {
  display: block;
  padding: 10px 10px;
  color: #fff;
}
#thirdcontent > #password {
  width: 500px;
  height: 40px;
  background: #000;
  padding: auto;
}

