/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  width: 800px;
  border: 1px solid #f00;
  margin: 0 auto;
  background: #f00;
}
#wrap {
  width: 800px;
  margin: 0 auto;
  display: flex;
}

#aside {
  width: 200px;
  background: #00f;
}

#content {
  width: 600px;
  background: #0f0;
} */
/* input[type="checkbox"]:checked + div {
  height: 0px;
}

div {
  overflow: hidden;
  height: 400px;
  width: 650px;
  transition-duration: 1s;
} */
