*{
  &::-webkit-scrollbar {
    margin: 0;
    padding: 0;
    width: 8px;
  }
  &::-webkit-scrollbar-button {
    height: 0;
    -webkit-transition: 300ms all;
    transition: 300ms all;
  }
  &::-webkit-scrollbar-corner {
    background-color: #222;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 91, 40, 0.7);
    border-radius: 8px;
    border: 1px solid #000;
  }
  &::-webkit-scrollbar-thumb:hover,
  &::-webkit-scrollbar-thumb:active {
    background: rgba(255, 91, 40, 0.9);
  }
  &::-webkit-scrollbar-track {
    background-color: #222;
    border-radius: 0;
    border: 0;
  }
  &::-webkit-scrollbar-track:hover,
  &::-webkit-scrollbar-track:active {
    background: #222;
  }
  }
  