* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: #000;
  display: flex;
  width: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  .section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-areas: "search star flight bolt eye moon";
    grid-gap: 100px;
    font-size: 80px;
    color: #fff;
    text-align: center;
    div {
      padding: 100px;
      border-radius: 50px;
      transition: all 0.6s;
      &:active {
        box-shadow: 0 0 100px dodgerblue;
      }
    }
    .search {
      grid-area: search;
    }
    .star {
      grid-area: star;
    }
    .flight {
      grid-area: flight;
    }
    .bolt {
      grid-area: bolt;
    }
    .eye {
      grid-area: eye;
    }
    .moon {
      grid-area: moon;
    }
  }
}
