* {
  margin: 0;
  padding: 0;
}

form fieldset {
  margin-bottom: 25px;
  padding: 20px;
}

form legend {
  font-size: 15px;
  font-weight: 600;
}

#container {
  width: 500px;
  margin: 10px auto;
}
form ul li {
  margin: 15px 0;
  font-size: 14px;
  list-style: none;
}

label.reg {
  display: inline-block;
  font-size: 14px;
  width: 110px;
  text-align: right;
  font-weight: bold;
  color: #339900;
  margin-right: 10px;
}

fieldset label {
  display: inline-block;
  margin: 10px 0;
}
form #send {
  width: 100%;
  padding: 10px 20px;
  transition: all 0.3s;
}
form #send:hover {
  background: #222;
  color: #fff;
  cursor: pointer;
}
